* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
body {
  background-color: #e9e9e9;
  color: #333333;
  font-family: sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  /* outline: none; */
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#header {
  background-color: #dddddd;
  width: 100%;
}

.logo {
  float: left;
  height: 40px;
  width: 150px;
}

.logo > img {
  background-color: grey;
}

.menu > li {
  float: left;
  position: relative;
  text-align: center;
  height: 100%;
  cursor: pointer;
}

.menu li > a, .submenu li > a {
  display: block;
  font-size: 1.2em;
  padding: 35px 20px;
  min-width: 160px;
  transition: all 0.2s ease;
  height: 70px;
  line-height: 0;
}

.menu > li:hover > a {
  background-color: #d0d0d0;
}

.menu > li:hover > .submenu {
  opacity: 1;
  visibility: visible;
}

.submenu {
  background-color: #bbbbbb;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
}

.submenu > li:hover > a {
  background-color: #b0b0b0;
}
.submenu > li:active > a {
    background-color: #909090;
}

.container {
  margin: auto;
  padding: 0 15px;
  width: 100%;
}

.cf:after {
  clear: both;
  content: " ";
  display: table;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 992px;
  }

  #header > #navbar .btn-toggle {
    display: none;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* NADA */ 
#cuadro {
  background-color: red;
  box-shadow: 1px 1px 0 black, 2px 2px 0 black, 3px 3px 0 black, 4px 4px 0 black, 5px 5px 0 black, 6px 6px 0 black;
  color: white;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  height: 60px;
  line-height: 0;
  margin: 80px auto;
  padding: 30px 0;
  text-align: center;
  transition: box-shadow 0.2s linear;
  width: 150px;
}

#cuadro:hover {
  box-shadow: 1px 1px 0 black, 2px 2px 0 black, 3px 3px 0 black, 4px 4px 0 black, 5px 5px 0 black, 6px 6px 0 black, 10px 10px 10px 0px grey;
}

#cuadro:active {
  background-color: #a90404;
}